html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button {
  outline: none;
}

button {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

._container {
  max-width: 1056px;
  margin: 0 auto;
}

.ibg {
  background: center/cover no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-regular.woff") format("woff"), url("../fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  font-display: swap;
  src: url("../fonts/inter-medium.woff") format("woff"), url("../fonts/inter-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

[class^="_icon-"]:before,
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-bg-2:before {
  content: "\e91d";
  color: #e2f9c3;
}

._icon-bg:before {
  content: "\e900";
  color: #ffdd76;
}

._icon-bg-r:before {
  content: "\e903";
  color: #e2f9c3;
}

._icon-scaffolding:before {
  content: "\e917";
  color: #036fc7;
}

._icon-bg-e-r:before {
  content: "\e91c";
  color: #ffdd76;
}

._icon-phone:before {
  content: "\e914";
  color: #63522b;
}

._icon-bell:before {
  content: "\e901";
  color: #63522b;
}

._icon-bg-e:before {
  content: "\e902";
  color: #ffdd76;
}

._icon-CO2:before {
  content: "\e904";
  color: #3a8241;
}

._icon-emblem:before {
  content: "\e905";
  color: #2c70c1;
}

._icon-escalator:before {
  content: "\e906";
  color: #036fc7;
}

._icon-facade:before {
  content: "\e907";
  color: #036fc7;
}

._icon-facebook:before {
  content: "\e908";
  color: #73787c;
}

._icon-finishing:before {
  content: "\e909";
  color: #036fc7;
}

._icon-graduate:before {
  content: "\e90a";
  color: #63522b;
}

._icon-graph:before {
  content: "\e90b";
  color: #63522b;
}

._icon-hope:before {
  content: "\e90c";
  color: #2c70c1;
}

._icon-hope2:before {
  content: "\e90d";
  color: #2c70c1;
}

._icon-leaf:before {
  content: "\e90e";
}

._icon-list:before {
  content: "\e90f";
  color: #63522b;
}

._icon-logo:before {
  content: "\e910";
  color: #ffc22d;
}

._icon-mark:before {
  content: "\e911";
  color: #2c70c1;
}

._icon-panels:before {
  content: "\e912";
  color: #036fc7;
}

._icon-people:before {
  content: "\e913";
  color: #3a8241;
}

._icon-recycling:before {
  content: "\e915";
  color: #63522b;
}

._icon-reward:before {
  content: "\e916";
  color: #2c70c1;
}

._icon-fence:before {
  content: "\e918";
  color: #036fc7;
}

._icon-trash:before {
  content: "\e919";
  color: #036fc7;
}

._icon-truck:before {
  content: "\e91a";
  color: #036fc7;
}

._icon-trumpet:before {
  content: "\e91b";
  color: #036fc7;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__content {
  max-width: 1440px;
  height: 96px;
  padding-right: 31px;
  padding-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.header__logo {
  z-index: 5;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 44px;
}

.header__logo a h3 {
  padding: 0px 0px 0px 8px;
  text-transform: uppercase;
  font-size: 50%;
}

.header__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__menu {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 0px;
  overflow: auto;
}

.menu {
  overflow: auto;
}

.menu__list {
  color: #72787d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 22px 0px 0px;
}

.menu__list li .opened {
  background-color: #8b8d78;
  color: #f5f8fa;
  border-radius: 3px;
  font-size: 110%;
  font-weight: 500;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__list li:last-child {
  margin: 0;
}

.icon-menu {
  display: none;
}

/* .icon-menu {
    display: none;

    @media (max-width: $md3 + px) {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;

        &::before,
        &::after,
        span {
            transition: all 0.3s ease 0s;
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            background-color: #000;


        }

        &::before,
        &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: scale(1) translate(0px, -50%) ;
        }

        &._active {
            span {
                transform: scale(0);
            }

            &::before,
            &::after {
                top: 50%;
                transform: translate(0px, 50%);
            }

            &::before {
                transform: rotate(-45deg);
            }

            &::after {
                transform: rotate(45deg);
            }
        }
    }
} */

html,
body {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: #212b31;
}

html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 170px;
}

.btns .btn {
  margin-right: 16px;
}

.btns .btn:last-child {
  margin-right: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: #212b31;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 18px;
  line-height: 133.33333%;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.btn_s {
  height: 34px;
  padding: 0px 20px;
  font-family: Arial;
  font-size: 15px;
  line-height: 106.66667%;
}

.btn_ffa {
  font-family: Arial;
  font-size: 17px;
  line-height: 141.17647%;
}

.btn_wb {
  background-color: #fff;
  color: #212b31;
  border: 1px solid #dadedf;
}

h1 {
  font-size: 48px;
  line-height: 133.33333%;
}

h2 {
  font-size: 32px;
  line-height: 150%;
}

.sub-title {
  font-size: 20px;
  line-height: 160%;
  color: #72787d;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row__column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.row__text {
  color: #72787d;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page {
  margin-bottom: 142px;
}

.main-page__container {
  text-align: center;
}

.main-page__title {
  margin-bottom: 30px;
}

.main-page__buttons {
  margin-bottom: 88px;
}

.main-page__images {
  margin-bottom: 148px;
}

.main-page__img:first-child {
  max-width: 1040px;
  padding: 0px 0px 31.53846% 0px;
  margin-bottom: 36px;
}

.main-page__row {
  margin-right: -41px;
}

.main-page__column {
  padding-right: 41px;
}

.main-page__icon {
  color: #ffdd76;
  margin-bottom: 20px;
}

.main-page__item-title {
  margin-bottom: 10px;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  font-size: 48px;
}

.icon-child {
  font-size: 50%;
  position: absolute;
  /* left: 25%;
    top: 25%; */
}

.icon-child_s {
  font-size: 40%;
}

.about {
  margin-bottom: 78.28px;
}

.about__conatiner {
  text-align: center;
}

.about__title {
  margin-bottom: 16px;
}

.about__sub-title {
  max-width: 1015px;
  margin-bottom: 40px;
}

.about__img {
  max-width: 1040px;
  padding: 0px 0px 29.23077% 0px;
  margin-bottom: 144px;
}

.about__title2 {
  margin-bottom: 168px;
}

.about__column {
  max-width: 1006px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 71px;
}

.about__item {
  text-align: left;
}

.about__item-title {
  margin-bottom: 16px;
}

.about__item-text {
  margin-bottom: 28px;
}

.brands {
  margin: 0px auto;
  max-width: 1088px;
}

.brands__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 56px;
  padding-top: 56px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -39px 0px 0px;
  border-top: 1px solid #eef2f3;
  border-bottom: 1px solid #eef2f3;
}

.brands__img {
  margin-right: 39px;
}

.item-title {
  font-size: 18px;
  line-height: 133.33333%;
}

.item-text {
  color: #72787d;
  line-height: 150%;
}

.item-text_s {
  font-size: 15px;
  line-height: 160%;
}

.item-text_b {
  color: #212B31;
}

.linear-text {
  font-size: 20px;
  line-height: 160%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ffd042));
  background: -o-linear-gradient(transparent 50%, #ffd042 50%);
  background: linear-gradient(transparent 50%, #ffd042 50%);
  color: #212b31;
}

.product {
  margin-bottom: 143px;
}

.product__header {
  text-align: center;
  margin-bottom: 28px;
}

.product__title {
  margin-bottom: 21px;
}

.product__sub-title {
  max-width: 827px;
  margin: 0px auto;
}

.product__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__item-title {
  margin-bottom: 19px;
}

.product__item-text {
  max-width: 500px;
}

.product__img img {
  max-width: 100%;
}

.deliver {
  margin-bottom: 124.48px;
}

.deliver__header {
  text-align: center;
  margin-bottom: 55px;
}

.deliver__title {
  margin-bottom: 21px;
}

.deliver__sub-title {
  max-width: 643px;
  margin: 0px auto;
}

.deliver__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 22px;
  row-gap: 33px;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}

.deliver__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.deliver__icon {
  margin: 0px 16px 0px 0px;
}

.deliver__icon-parent::before {
  color: #e6f1f9;
}

.deliver__footer {
  text-align: center;
}

.reliability {
  margin-bottom: 144px;
}

.reliability__header {
  text-align: center;
  margin-bottom: 48px;
  padding-top: 20px;
}

.reliability__title {
  margin-bottom: 17px;
  position: relative;
  display: inline-block;
}

.reliability__title span {
  position: absolute;
  top: -17px;
  right: -24px;
}

.reliability__sub-title {
  margin: 0px auto;
  max-width: 857px;
}

.reliability__row {
  margin-bottom: 62px;
  margin-right: -33px;
}

.reliability__column {
  padding-right: 33px;
}

.reliability__item-icon {
  margin-bottom: 19px;
}

.reliability__icon-main::before {
  color: #e2f9c3;
}

.reliability__icon-child::before {
  color: #3a8241;
}

.reliability__item-title {
  margin: 0px 0px 11px 0px;
}

.reliability__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f8f9;
  padding: 40px;
}

.reliability__bottom-icon {
  font-size: 36px;
}

.reliability__bottom-text {
  font-size: 18px;
  line-height: 177.77778%;
  text-align: center;
}

.reliability__bottom-text span {
  font-weight: 500;
}

.graph {
  margin-bottom: 143px;
}

.graph__content {
  padding-top: 143px;
  padding-bottom: 118px;
  background-color: #212b31;
  color: #ffffff;
}

.graph__content .item-text,
.graph__content .row__text {
  color: rgba(255, 255, 255, 0.75);
}

.graph__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1248px;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 10px;
  margin-bottom: 127px;
}

.graph__block-title {
  margin-bottom: 50px;
}

.graph__block-item {
  max-width: 589px;
  margin-right: 53px;
}

.graph__paragraphs {
  margin-bottom: 50px;
}

.graph__paragraph {
  margin: 0px 0px 24px 0px;
}

.graph__paragraph-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  margin-left: 33px;
}

.graph__paragraph-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -33px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

.graph__paragraph-text {
  margin-left: 33px;
}

.graph__block-btns .btn {
  border: 1px solid #dadedf;
}

.graph__img {
  max-width: 606px;
}

.graph__img img {
  width: 100%;
}

.graph__row {
  margin-right: -18px;
}

.graph__column {
  padding-right: 18px;
}

.graph__item-icon {
  margin: 0px 0px 20px 0px;
}

.graph__icon-main::before {
  color: #FFDD76;
}

.graph__item-title {
  margin: 0px 0px 10px 0px;
}

.instruction {
  margin-bottom: 96px;
}

.instruction__entire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instruction__first-half {
  max-width: 462px;
  margin-right: 74px;
}

.instruction__title {
  margin-bottom: 21px;
}

.instruction__sub-title {
  margin-bottom: 60px;
}

.instruction__img img {
  max-width: 100%;
}

.instruction__second-half {
  max-width: 520px;
}

.instruction__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.instruction__paragraph-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid #dadedf;
  line-height: 118.75%;
  color: #72787d;
  margin-right: 32px;
}

.instruction__paragraph-title {
  margin: 0px 0px 10px 0px;
}

.clients {
  margin-bottom: 149px;
}

.clients__container {
  max-width: 1150px;
}

.clients__header {
  text-align: center;
  margin-bottom: 55px;
}

.clients__title {
  margin-bottom: 17px;
}

.clients__entire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 127px;
}

.clients__first-half {
  margin-right: 78px;
}

.clients__paragraphs {
  max-width: 458px;
}

.clients__paragraph {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients__paragraph:last-child {
  margin-bottom: 0;
}

.clients__paragraph-icon {
  margin-right: 16px;
}

.clients__icon-main::before {
  color: #e8f3fe;
}

.clients__paragraph-title {
  margin: 0px 0px 10px 0px;
}

.clients .slider-begin {
  max-width: 435px;
}

.clients__speech {
  max-width: 614px;
  background-color: #f6f8f9;
  padding: 45px 92px 56px 41px;
  padding-top: 45px;
  padding-right: 92px;
  padding-left: 56px;
  padding-left: 41px;
}

.clients__speech-content {
  background: url(../img/quotes.png) 0 0 no-repeat;
  padding: 15px 0px 0px 45px;
  padding-top: 15px;
  padding-left: 45px;
}

.clients__speech-text {
  max-width: 435px;
  padding-bottom: 28px;
  font-size: 30px;
  line-height: 160%;
}

.clients__speech-speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__speech-photo {
  margin-right: 8px;
}

.clients__speech-info {
  line-height: 121%;
}

.clients__speech-post {
  color: #72787d;
}

.clients__brands {
  margin: 0px auto;
  max-width: 672px;
}

.clients__brands-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -41px;
  margin-right: -100px;
}

.clients__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 41px;
  padding-right: 100px;
}

.clients__brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.clients__brand-item_1 {
  max-width: 126px;
}

.clients__brand-item_1 .clients__brand-text {
  padding: 0px 8px 0px 9px;
}

.clients__brand-item_2 {
  max-width: 164px;
}

.clients__brand-item_2 .clients__brand-text {
  padding: 0px 15px;
}

.clients__brand-item_3 {
  max-width: 162px;
}

.clients__brand-item_3 .clients__brand-text {
  padding: 0px 14px;
}

.clients__brand-item_4 {
  max-width: 184px;
}

.clients__brand-item_4 .clients__brand-text {
  padding: 0px 22px 0px 23px;
}

.clients__brand-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  margin-bottom: 32px;
}

.clients__brand-text {
  line-height: 121%;
  color: #72787d;
}

.contact {
  margin-bottom: 150px;
}

.contact__content {
  text-align: center;
  padding: 117px 38px;
  padding-top: 117px;
  padding-bottom: 117px;
  padding-right: 38px;
  padding-left: 38px;
  background: url(../img/contact/bg.png) 0 0 no-repeat;
}

.contact__title {
  margin-bottom: 54px;
}

.contact__btn:first-child {
  margin-bottom: 10px;
}

.footer__content {
  padding: 10px;
}

.footer__block {
  margin-bottom: 160px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -160px;
}

.footer__column {
  padding-right: 160px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer__title {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 121%;
  margin-bottom: 29px;
}

.footer__title-logo {
  font-size: 22px;
  margin-right: 8px;
}

.footer__column-adress {
  margin-bottom: 10px;
}

.footer__column-email {
  margin-bottom: 20px;
}

.footer__column-title2 {
  margin-bottom: 22px;
}

.footer__word {
  display: block;
}

.footer__word_1 {
  margin-bottom: 8px;
}

.footer__footer-content {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dadedf;
}

.footer__footer-text {
  padding-right: 15px;
}

@media (min-width: 767.98px) {
  .menu__list li {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__list li:hover {
    color: #036fc7;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #3a4852;
  }

  .btn_wb:hover {
    background-color: #c4c4c4;
    border: 1px solid #5a5a5a;
  }
}

@media (min-width: 1115px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (min-width: 1440px) {
  .graph__block {
    max-width: 100%;
  }

  .graph__block-item {
    margin: 0px auto;
  }
}

@media (max-width: 1200px) {
  .header__btn {
    display: none;
  }

  .header__menu {
    margin: 0;
    overflow: auto;
  }
}

@media (max-width: 1068px) {
  ._container {
    max-width: 970px;
  }

  ._container {
    padding: 0px 30px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    -webkit-transition: left 0.4s ease 0s;
    -o-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(40px + 56 * ((100vw - 320px) / 1120));
    z-index: 3;
    background-color: #fff;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .menu__list li {
    margin: 0;
    font-size: 40px;
    line-height: 200%;
    color: #fff;
    overflow: auto;
  }

  .menu__list li .opened {
    background-color: unset;
    color: #d3931c;
    border-radius: unset;
    font-size: 100%;
    font-weight: 500;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active::before,
  .icon-menu._active::after {
    top: 50%;
    -webkit-transform: translate(0px, 50%);
        -ms-transform: translate(0px, 50%);
            transform: translate(0px, 50%);
  }

  .icon-menu._active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu._active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 1068px) and (max-width: 1056px) {
  .menu__list {
    padding-top: calc(55px + 25 * ((100vw - 320px) / 736));
  }

  .menu__list {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 736));
  }

  .menu__list li {
    font-size: calc(30px + 10 * ((100vw - 320px) / 736));
  }
}

@media (max-width: 1056px) {
  .header__content {
    height: calc(40px + 56 * ((100vw - 320px) / 736));
  }

  .header__content {
    padding-right: calc(10px + 21 * ((100vw - 320px) / 736));
  }

  .header__content {
    padding-left: calc(10px + 21 * ((100vw - 320px) / 736));
  }

  .header__logo a {
    font-size: calc(30px + 14 * ((100vw - 320px) / 736));
  }

  html,
  body {
    font-size: calc(12px + 4 * ((100vw - 320px) / 736));
  }

  .page {
    padding-top: calc(80px + 90 * ((100vw - 320px) / 736));
  }

  .btns .btn {
    margin-right: calc(5px + 11 * ((100vw - 320px) / 736));
  }

  .btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 736));
  }

  .btn {
    height: calc(35px + 15 * ((100vw - 320px) / 736));
  }

  .btn {
    padding-right: calc(17.5px + 7.5 * ((100vw - 320px) / 736));
  }

  .btn {
    padding-left: calc(17.5px + 7.5 * ((100vw - 320px) / 736));
  }

  .btn_ffa {
    font-size: calc(13.5px + 3.5 * ((100vw - 320px) / 736));
  }

  h1 {
    font-size: calc(24px + 24 * ((100vw - 320px) / 736));
  }

  h2 {
    font-size: calc(19.2px + 12.8 * ((100vw - 320px) / 736));
  }

  .sub-title {
    font-size: calc(14px + 6 * ((100vw - 320px) / 736));
  }

  .main-page {
    margin-bottom: calc(70px + 72 * ((100vw - 320px) / 736));
  }

  .main-page__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 736));
  }

  .main-page__buttons {
    margin-bottom: calc(35px + 53 * ((100vw - 320px) / 736));
  }

  .main-page__images {
    margin-bottom: calc(60px + 88 * ((100vw - 320px) / 736));
  }

  .main-page__img:first-child {
    margin-bottom: calc(20px + 16 * ((100vw - 320px) / 736));
  }

  .main-page__row {
    margin-right: calc(-10px + -31 * ((100vw - 320px) / 736));
  }

  .main-page__column {
    padding-right: calc(10px + 31 * ((100vw - 320px) / 736));
  }

  .main-page__icon {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 736));
  }

  .main-page__item-title {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 736));
  }

  .about {
    margin-bottom: calc(42px + 36.28 * ((100vw - 320px) / 736));
  }

  .about__title {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 736));
  }

  .about__sub-title {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 736));
  }

  .about__img {
    margin-bottom: calc(50px + 94 * ((100vw - 320px) / 736));
  }

  .about__title2 {
    margin-bottom: calc(55px + 113 * ((100vw - 320px) / 736));
  }

  .about__column {
    margin-bottom: calc(40px + 31 * ((100vw - 320px) / 736));
  }

  .about__item-title {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 736));
  }

  .about__item-text {
    margin-bottom: calc(14px + 14 * ((100vw - 320px) / 736));
  }

  .brands__content {
    padding-bottom: calc(26px + 30 * ((100vw - 320px) / 736));
  }

  .brands__content {
    padding-top: calc(26px + 30 * ((100vw - 320px) / 736));
  }

  .brands__content {
    padding-right: calc(10px + 6 * ((100vw - 320px) / 736));
  }

  .brands__content {
    padding-left: calc(10px + 6 * ((100vw - 320px) / 736));
  }

  .brands__img {
    margin-right: calc(30px + 9 * ((100vw - 320px) / 736));
  }

  .item-title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 736));
  }

  .item-text_s {
    font-size: calc(11.5px + 3.5 * ((100vw - 320px) / 736));
  }

  .linear-text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 736));
  }

  .product {
    margin-bottom: calc(70px + 73 * ((100vw - 320px) / 736));
  }

  .product__header {
    margin-bottom: calc(25px + 3 * ((100vw - 320px) / 736));
  }

  .product__title {
    margin-bottom: calc(14px + 7 * ((100vw - 320px) / 736));
  }

  .product__item-title {
    margin-bottom: calc(8px + 11 * ((100vw - 320px) / 736));
  }

  .deliver {
    margin-bottom: calc(60px + 64.48 * ((100vw - 320px) / 736));
  }

  .deliver__header {
    margin-bottom: calc(30px + 25 * ((100vw - 320px) / 736));
  }

  .deliver__title {
    margin-bottom: calc(14px + 7 * ((100vw - 320px) / 736));
  }

  .deliver__columns {
    margin-bottom: calc(15px + 7 * ((100vw - 320px) / 736));
  }

  .deliver__columns {
    row-gap: calc(20px + 13 * ((100vw - 320px) / 736));
  }

  .deliver__columns {
    -webkit-column-gap: calc(10px + 17 * ((100vw - 320px) / 736));
       -moz-column-gap: calc(10px + 17 * ((100vw - 320px) / 736));
            column-gap: calc(10px + 17 * ((100vw - 320px) / 736));
  }

  .reliability {
    margin-bottom: calc(71px + 73 * ((100vw - 320px) / 736));
  }

  .reliability__header {
    margin-bottom: calc(22px + 26 * ((100vw - 320px) / 736));
  }

  .reliability__header {
    padding-top: calc(14px + 6 * ((100vw - 320px) / 736));
  }

  .reliability__title {
    margin-bottom: calc(13px + 4 * ((100vw - 320px) / 736));
  }

  .reliability__title span {
    top: calc(-10.2px + -6.8 * ((100vw - 320px) / 736));
  }

  .reliability__title span {
    right: calc(-14.4px + -9.6 * ((100vw - 320px) / 736));
  }

  .reliability__row {
    margin-bottom: calc(23px + 39 * ((100vw - 320px) / 736));
  }

  .reliability__row {
    margin-right: calc(-10px + -23 * ((100vw - 320px) / 736));
  }

  .reliability__column {
    padding-right: calc(10px + 23 * ((100vw - 320px) / 736));
  }

  .reliability__item-icon {
    margin-bottom: calc(13px + 6 * ((100vw - 320px) / 736));
  }

  .reliability__bottom-content {
    padding: calc(20px + 20 * ((100vw - 320px) / 736));
  }

  .reliability__bottom-text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 736));
  }

  .graph {
    margin-bottom: calc(70px + 73 * ((100vw - 320px) / 736));
  }

  .graph__content {
    padding-top: calc(70px + 73 * ((100vw - 320px) / 736));
  }

  .graph__content {
    padding-bottom: calc(58px + 60 * ((100vw - 320px) / 736));
  }

  .graph__block {
    margin-bottom: calc(68px + 59 * ((100vw - 320px) / 736));
  }

  .graph__block-title {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 736));
  }

  .graph__block-item {
    margin-right: calc(15px + 38 * ((100vw - 320px) / 736));
  }

  .graph__paragraphs {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-title {
    margin-left: calc(19.8px + 13.2 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-title::before {
    top: calc(5.6px + 2.4 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-title::before {
    left: calc(-19.8px + -13.2 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-title::before {
    width: calc(4.8px + 3.2 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-title::before {
    height: calc(4.8px + 3.2 * ((100vw - 320px) / 736));
  }

  .graph__paragraph-text {
    margin-left: calc(19.8px + 13.2 * ((100vw - 320px) / 736));
  }

  .graph__row {
    margin-right: calc(-10px + -8 * ((100vw - 320px) / 736));
  }

  .graph__column {
    padding-right: calc(10px + 8 * ((100vw - 320px) / 736));
  }

  .instruction {
    margin-bottom: calc(40px + 56 * ((100vw - 320px) / 736));
  }

  .instruction__first-half {
    margin-right: calc(20px + 54 * ((100vw - 320px) / 736));
  }

  .instruction__title {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 736));
  }

  .instruction__sub-title {
    margin-bottom: calc(31px + 29 * ((100vw - 320px) / 736));
  }

  .instruction__paragraph {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 736));
  }

  .instruction__paragraph-num {
    margin-right: calc(19.2px + 12.8 * ((100vw - 320px) / 736));
  }

  .clients {
    margin-bottom: calc(74px + 75 * ((100vw - 320px) / 736));
  }

  .clients__header {
    margin-bottom: calc(35px + 20 * ((100vw - 320px) / 736));
  }

  .clients__title {
    margin-bottom: calc(14px + 3 * ((100vw - 320px) / 736));
  }

  .clients__entire {
    margin-bottom: calc(50px + 77 * ((100vw - 320px) / 736));
  }

  .clients__first-half {
    margin-right: calc(40px + 38 * ((100vw - 320px) / 736));
  }

  .clients__paragraph {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 736));
  }

  .clients__paragraph-icon {
    margin-right: calc(10px + 6 * ((100vw - 320px) / 736));
  }

  .clients__speech {
    padding-top: calc(10px + 35 * ((100vw - 320px) / 736));
  }

  .clients__speech {
    padding-right: calc(30px + 62 * ((100vw - 320px) / 736));
  }

  .clients__speech {
    padding-left: calc(15px + 41 * ((100vw - 320px) / 736));
  }

  .clients__speech {
    padding-left: calc(8.5px + 32.5 * ((100vw - 320px) / 736));
  }

  .clients__speech-content {
    padding-top: calc(3px + 12 * ((100vw - 320px) / 736));
  }

  .clients__speech-content {
    padding-left: calc(10px + 35 * ((100vw - 320px) / 736));
  }

  .clients__speech-text {
    padding-bottom: calc(19px + 9 * ((100vw - 320px) / 736));
  }

  .clients__speech-text {
    font-size: calc(18px + 12 * ((100vw - 320px) / 736));
  }

  .clients__brands-row {
    margin-bottom: calc(-30px + -11 * ((100vw - 320px) / 736));
  }

  .clients__brands-row {
    margin-right: calc(-50px + -50 * ((100vw - 320px) / 736));
  }

  .clients__brand {
    padding-bottom: calc(30px + 11 * ((100vw - 320px) / 736));
  }

  .clients__brand {
    padding-right: calc(50px + 50 * ((100vw - 320px) / 736));
  }

  .clients__brand-img {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / 736));
  }

  .contact {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 736));
  }

  .contact__content {
    padding-top: calc(70.2px + 46.8 * ((100vw - 320px) / 736));
  }

  .contact__content {
    padding-bottom: calc(70.2px + 46.8 * ((100vw - 320px) / 736));
  }

  .contact__content {
    padding-right: calc(22.8px + 15.2 * ((100vw - 320px) / 736));
  }

  .contact__content {
    padding-left: calc(22.8px + 15.2 * ((100vw - 320px) / 736));
  }

  .contact__title {
    margin-bottom: calc(30px + 24 * ((100vw - 320px) / 736));
  }

  .footer__block {
    margin-bottom: calc(50px + 110 * ((100vw - 320px) / 736));
  }

  .footer__columns {
    margin-right: calc(-20px + -140 * ((100vw - 320px) / 736));
  }

  .footer__column {
    padding-right: calc(30px + 130 * ((100vw - 320px) / 736));
  }

  .footer__title {
    margin-bottom: calc(15px + 14 * ((100vw - 320px) / 736));
  }

  .footer__column-email {
    margin-bottom: calc(5px + 15 * ((100vw - 320px) / 736));
  }

  .footer__column-title2 {
    margin-bottom: calc(0px + 22 * ((100vw - 320px) / 736));
  }
}

@media (max-width: 991.98px) {
  ._container {
    padding: 0px 20px;
  }

  .main-page__img:last-child {
    display: none;
  }

  .about__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__column-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
  }

  .about__column-img img {
    max-width: 100%;
  }

  .reliability__bottom-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reliability__bottom-icon {
    margin-bottom: 15px;
  }

  .reliability__bottom-text {
    margin-bottom: 13px;
  }

  .graph__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .clients__entire {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .clients__first-half {
    margin-bottom: 30px;
  }

  .clients__paragraphs,
  .clients__speech,
  .clients__speech-text {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) and (max-width: 1056px) {
  .reliability__bottom-icon {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 736));
  }

  .reliability__bottom-text {
    margin-bottom: calc(8px + 5 * ((100vw - 320px) / 736));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    margin: 0 10px;
  }

  .row {
    display: block;
  }

  .main-page__row {
    margin-bottom: -20px;
  }

  .main-page__column {
    padding-bottom: 20px;
  }

  .product__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 20px 0px;
  }

  .product__column:last-child {
    padding: 0;
  }

  .product__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .product__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .product__item-text {
    margin: 0px 0px 15px 0px;
  }

  .deliver__columns {
    grid-template-columns: 1fr 1fr;
  }

  .reliability__column {
    padding-bottom: 15px;
  }

  .reliability__column:last-child {
    padding-bottom: 0;
  }

  .graph__img {
    display: none;
  }

  .graph__column {
    margin-bottom: 30px;
  }

  .graph__column:last-child {
    margin-bottom: 0;
  }

  .instruction__entire {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .instruction__first-half {
    text-align: center;
  }

  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: -20px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding-bottom: 20px;
  }

  .footer__word_1 {
    margin-bottom: 0;
  }

  .footer__footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }

  .footer__footer-text {
    padding-right: 10px;
  }
}

@media (max-width: 767.98px) and (max-width: 1056px) {
  .main-page__row {
    margin-bottom: calc(-15px + -5 * ((100vw - 320px) / 736));
  }

  .main-page__column {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 736));
  }
}

@media (max-width: 479.98px) {
  .deliver__columns {
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 319.98px) {
  .footer__columns {
    display: block;
  }
}

.webp .clients__speech-content { background: url(../img/quotes.webp) 0 0 no-repeat; }

.webp .contact__content { background: url(../img/contact/bg.webp) 0 0 no-repeat; }